/*
* @Author: suife
* @Date:   2017-04-14 23:31:15
* @Last Modified by:   suife
* @Last Modified time: 2017-04-15 14:19:53
*/
/* 纪念品 */
.souvenir{
	width: 980px;
	/* border: 1px solid #ccc; */
	overflow: hidden;
	margin: 10px auto;
}
.souvenir-con{
	width: 900px;
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 10px auto;
	background: #fff;
	position: relative;
}
.souvenir-con:hover{
	box-shadow: 2px 2px 10px #999 ;
}
/* 纪念品图片 */
.souv-pic img{
	/* margin: 15px; */
	width: 118px;
	height: 120px;
	border-radius: 50%;
	border: 1px solid #ddd;
}
.souv-pic a{
	margin: 15px;
	display: block;
	width: 120px;
	height: 120px;
}
/* 纪念品标题 */
.souv-title{
	width: 30px;
	height: 130px;
	padding: 10px;
	font: 700 23px 楷体;
	text-align: center;
	color: #333;
}
/* 纪念品描述 */
.souv-descrip{
	text-indent: 1.5em;
	text-align: justify;
	margin-top: 15px;
	width: 500px;
	height: 100px;
	padding: 10px;
	/* border: 1px solid #ccc; */
	font: 20px/30px 楷体;
}
.souv-price{
	position: absolute;
	display: block;
	width: 100px;
	height: 30px;
	text-align: center;
	font: 700 16px/30px 微软雅黑;
	color: #ff0000;
	right: 50px;
	bottom: 60px;
}
.souv-star{
	position: absolute;
	display: block;
	width: 70px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	right: 67px;
	bottom: 23px;
	border: 1px solid #ccc;
	font: 15px/20px 微软雅黑;
}
.souv-star:hover{
	border: 0px;
	background: rgba(0,0,0,0.8);
	color: #fff;
}